<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0;

        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px;background-color: black;color: white;">
        标题很重要
    </div>
    <div style="position:absolute;top: 48px;bottom: 0;left: 0;width: 200px;background-color:brown ">
        <a class="menu" href="/cmdb/user_info/">用户管理</a>
        <a class="menu" href="/cmdb/user_group/">用户组管理</a>
    </div>
    <div style="position:absolute;top: 48px;left: 210px;bottom: 0;right: 0;overflow: auto">
        <h3>用户列表</h3>
        <form action="/cmdb/user_info/" method="POST">
            <input type="text" name="user" />
            <input type="password" name="pwd" />
            <input type="submit" value="提交"/>
        </form>
        <ul>
            {% for row in user_list %}
            <li>
                <a href="/cmdb/userdetial-{{ row.id }}/">{{ row.username }}</a>|
                <a href="/cmdb/userdel-{{ row.id }}/">删除</a>|
                <a href="/cmdb/useredit-{{ row.id }}/">编辑</a>|
            </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>